[run]
source = .
omit =
    */site-packages/*
    */migrations/*
    */tests/*
    *apps.py
    *manage.py
    *__init__.py
    *wsgi*
    *admin.py
    *urls.py
    *apps.py
    *asgi*
    *settings*
    *models*